.t228__list {
    display: flex;
    justify-content: space-evenly;
}


.t-cover__carrier{
    background-image: url("https://thumb.tildacdn.com/tild3737-6234-4966-b637-653461623638/-/format/webp/Rectangle_1.png");
}


.t392__buttonwrapper{

}

@media screen and (max-width: 1080px) {
    .t228__list {
        flex-direction: column;
        align-items: center;
    }
    .t228__list_item{
        padding: 0;
    }
    .t228__list_item:first-child{
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 500px) {
    .t228__leftside{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .t228__leftcontainer{
        padding: 0;
    }
    .t228__imglogo{
        padding: 0 0 0 0;
        margin-top: 30px;
    }
    .t228__centercontainer{
        padding: 0;
    }
}

.t856__textwrapper{
    padding: 0;
}

.t392__btn{
    margin-bottom: 15px;
}

.t392__btn:first-child{
    margin-right: 15px;
}

.text-align-center{
    text-align: center;
}
