.t228__list {
    display: flex;
    justify-content: space-evenly;
}

/*@media screen and (max-width: 1200px) {*/
/*    .t856__cell .t856__bg{*/
/*        transform: translate(0px, -50px);*/
/*    }*/
/*}*/

.t392__buttonwrapper{

}

@media screen and (max-width: 1080px) {
    .t228__list {
        flex-direction: column;
        align-items: center;
    }
    .t228__list_item{
        padding: 0;
    }
    .t228__list_item:first-child{
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 500px) {
    .t228__leftside{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .t228__leftcontainer{
        padding: 0;
    }
    .t228__imglogo{
        padding: 0 0 0 0;
        margin-top: 30px;
    }
    .t228__centercontainer{
        padding: 0;
    }
}

.t856__textwrapper{
    padding: 0;
}

.t392__btn{
    margin-bottom: 15px;
}

.t392__btn:first-child{
    margin-right: 15px;
}

.text-align-center{
    text-align: center;
}
