.text_button {
    font-size: 14px;
    color: white;
    font-weight: 700;
}

.font-size16 {
    font-size: 16px;
}

.text_under_logo {
    font-size: 25px;
    font-family: 'Roboto';
    font-weight: 700;
    background: linear-gradient(45deg, #22b987, #30dc80);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#leadia_science_widget {
    display: none;
}

.popup-fade {
    display: none;
}

.popup-fade:before {
    content: '';
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 9999;
}

.popup {
    position: fixed;
    top: 20%;
    left: 50%;
    padding: 20px;
    width: 360px;
    margin-left: -200px;
    background: #fff;
    border: 1px solid orange;
    border-radius: 4px;
    z-index: 99999;
    opacity: 1;
}

.popup input {
    width: 93%;
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-size: 12px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #aaa;
    transition: .3s border-color;
}

.popup input:hover{
    border: 1px solid green;
}


.popup button {
    background-color: #e32145;
    border-radius: 100px;
    color: white;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 700;
    border: navajowhite;
    padding: 12px;
    padding-left: 30px;
    padding-right: 30px;
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: 'Roboto';
    font-weight: 900;
    color: green;
    font-size: 22px;
    text-decoration: none;
}

.popup-flex {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
}

.popup-flex span{
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 21px;
}

.t856__bg{
    transform: translate(0px, -30px);
}

.t856__title{
    color: black;
}

.woman-left{
    position: relative;
    width: 620px;
    transform: translate(0, -50%);
}

.man-right{
    position: relative;
    width: 620px;
    transform: translate(100%, -50%);
}

.appgalery{
    width: 230px
}